<h1 class="titlesr">Most Popular Playlists</h1>

<div class="play-liste">
    {{#each_upto relatedPlaylist 4}}


    <div class="playslist-indiv">
        <div>
            <p class="rel-plt-title"><a class="playlist-lk" href="/playlists/{{this.id}}">{{this.name}}</a></p>
            <p class="user-name-list">Copied: {{this.copies}}x</p>

            <p class="user-name-list">created by <a class="yellow"
                    href="/playlists/user/{{this.user.id}}">{{this.user.username}}</a></p>


            <ul class="song-lists">

                {{#each this.details}}
                <li class="li">

                    <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="img-list-playlist">
                    <div class="title-art">
                        <span>{{this.name}} </span>
                        <span class="yellow">
                            {{#each this.album.artists}}
                            {{this.name}}
                            {{/each}}
                        </span>
                        {{/each}}
                    </div>
                </li>
            </ul>
        </div>
        <div class="seebtn">
            <a class="see-btn" href="/playlists/{{this._id}}">Full playlist</a>
        </div>
    </div>
    {{/each_upto}}

</div>