<h1>{{playlist.name}}</h1>

<p>Created by {{username}}</p>
<p>Copy : {{playlist.copies}}</p>

<a id="copy-playlist">Copy this playlist</a>

<div class="songs-list">
    {{#each songs}}
    <div class="song">
         <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="imgsong">
        <p>{{this.name}} de {{#each this.artists}}{{name}}, {{/each}}</p>
        <audio controls src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
        </audio>
    </div>
    {{/each}}
</div>