<div class="list-title">
    <h1 class="plt-name">{{playlist.name}}</h1><a href="/playlists/copy-playlist/{{playlist.id}}" class="copy-btn">Copy
        this playlist</a>
        {{#isSpotifyLoggedIn isSpotifyLoggedIn}}
        <a href="/playlists/export/{{playlist.id}}" class="copy-btn">Export
        this playlist</a>
        {{/isSpotifyLoggedIn}}
</div>

<div class="prop-plt">
    <p class="username">Created by <span class="num"><a class="playlist-autor" href="/playlists/user/{{playlist.user.id}}">{{playlist.user.username}}</a></span></p>
    <p> - </p>
    <p class="copies">Copied <span class="num">{{#timeOrTimes playlist.copies}} {{/timeOrTimes}}</span></p>
</div>


<div class="list-in-playlist">
    {{#each songs}}
    <div class="song-in-playlist">
        <div class="img-song">
            <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="cover">
        </div>
        <div class="song-info">
            <p class="song-title">{{this.name}}</p>
            <p class="num">{{#artistDisplay2 this.artists}} {{/artistDisplay2}}</p>
        </div>
        <div class="audio">
            <audio controls src="{{this.preview_url}}" class="player-in-list">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
    </div>
    {{/each}}
</div>