<h1 class="titlesr">Song results</h1>

<div id="songcontainer">

{{#each results}}
<div class="song" song-id="{{this.id}}">
    <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="imgsong">
    <h2>{{this.name}}</h2> <h3>{{#each this.artists}}{{this.name}}, {{/each}}</h3>
    <embed type="text/html" src="https://open.spotify.com/embed/track/{{this.id}}">


<div class="playerlinks">
    <a class="playerbtn" href="playlists/see-all-playlists/{{this.id}}">Related playlists</a>
    <a class="playerbtn" href="playlists/init-playlist/{{this.id}}">Add to my playlist</a>
</div>

</div>
{{/each}}

</div>