<h1>Song results </h1>

<div id="container">
{{#each results}}
<div class="song" song-id="{{this.id}}">
    <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="">
    <p>{{this.name}}</p> <h2>{{#each this.artists}}{{this.name}}, {{/each}}</h2>
    <audio controls src="{{this.preview_url}}">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
    <a class="see-all-btn" href="/">See all playlists</a>
    <a class="add-btn" href="playlists/init-playlist/{{this.id}}">Add to a playlist</a>
</div>
{{/each}}

</div>