<h1 class="titlesr">Song results</h1>

<div id="songcontainer">

{{#each results}}
<div class="song" song-id="{{this.id}}">
    <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="imgsong">
    <h2>{{this.name}}</h2> <h3>{{#artistDisplay2 this.artists}} {{/artistDisplay2}}</h3>
    <audio class="player" controls src="{{this.preview_url}}">
        Your browser does not support the
        <code>audio</code> element.
    </audio>

<div class="playerlinks">
    <a class="playerbtn" href="playlists/see-all-playlists/{{this.id}}">Related playlists</a>
    <a class="playerbtn" href="playlists/init-playlist/{{this.id}}">Add to my playlist</a>
</div>

</div>
{{/each}}

</div>