<h1 class="titlesr">Create a playlist</h1>

<form method="post" action="/playlists/create-playlist" id="form-playlist">

    <label for="playlist-name" class="create-form">Playlist's name : </label>
    <input id="playlist-name" name="name" type="playlist-name" class="form-cr" placeholder="My playlist..." required>

    <input type="hidden" id="songs" name="songs" value="{{song.id}}">
    <input type="hidden" id="user" name="user" value="{{userId}}">

    
    <div class="songs-list">

      <div class="plst">
        <div class="song">
            <img src="{{#imageDisplay song.album.images}}{{/imageDisplay}}" alt="" class="plt-img">
            <p>{{song.name}} by {{#each song.artists}}{{name}}, {{/each}}</p>
            <audio class="player" controls src="{{song.preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>  
        </div>
        <button class="cr-btn">Create playlist</button> 
        </div>
   </div>

</form>
 
<h2 class="add-songs">Add songs to your playlist : </h2>


<div class="search">
    <form id="searchBox" class="searchBox" action="" method="get">
        <label for="song"></label>
        <input type="search" name="song-search" class="searchBar" placeholder="Search song..." id="song-search"
            required>
        <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div id="songcontainer">
</div>