<h1>Créer une playlist</h1>

<form method="post" action="/playlists/create-playlist" id="form-playlist">

    <label for="playlist-name" class="">Nom de la playlist</label>
    <input id="playlist-name" name="name" type="playlist-name" class="" placeholder="Ma super playlist" required>

    <input type="hidden" id="songs" name="songs" value="{{song.id}}">
    <input type="hidden" id="user" name="user" value="{{userId}}">

    <div class="songs-list">
        <div class="song">
            <img src="{{#imageDisplay song.album.images}}{{/imageDisplay}}" alt="">
            <p>{{song.name}} de {{#each song.artists}}{{name}}, {{/each}}</p>
            <audio class="" controls src="{{song.preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
        </div>
    </div>

    <button class="">Create playlist</button>

</form>

<div class="search">
    <form id="searchBox" class="searchBox" action="" method="get">
        <label for="song"></label>
        <input type="search" name="song-search" class="searchBar" placeholder="Search song..." id="song-search"
            required>
        <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div id="songcontainer">
</div>