<h1>Editer une playlist</h1>

 <form method="post" action="/playlists/create-playlist" id="form-playlist">

<label for="playlist-name" class="">Nom de la playlist</label>
<input id="playlist-name" name="name" type="playlist-name" class="" value="{{playlist.name}}" required>


{{#each songs}}
<input type="hidden" id="songs" name="songs" value="{{this}}">

<div class="song">
    <p>{{this.name}} de {{#each song.artists}}{{name}}, {{/each}}</p>
    <audio controls src="{{song.preview_url}}">
        Your browser does not support the
        <code>audio</code> element.
    </audio>
</div>
{{/each}}

 <button class="">Edit playlist</button>

  </form>