<h1 class="titlesr">Edit playlist</h1>

<form method="post" action="/playlists/edit-playlist/{{playlist._id}}" id="form-playlist">

    <label for="playlist-name" class="create-form">Playlist's name</label>
    <input id="playlist-name" name="name" type="playlist-name" class="form-cr" value="{{playlist.name}}" required>

    <input type="hidden" id="songs" name="songs" value="{{arrayId}}">

    <div class="songs-list">

        {{#each songs}}
        <div class="songs">
        
            <div class="cover-song">
                <img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="plt-img">
            </div>
            <div class="song-tle">
                <p class="song-title">{{this.name}}</p>
                <p class="num">{{#each this.artists}}{{name}}, {{/each}}</p>
            </div>
            <div class="audio2">
                <audio class="player-in-list" controls src="{{this.preview_url}}">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
            </div>
            <p song-id="{{this.id}}" class="delete-song">Delete</p>
        </div> 
{{!-- <div class="dlt-btn"> --}}
           
        {{!-- </div> --}}
        
        {{/each}}
  
    </div>

    <button class="save-btn">Save playlist</button>
</form>

<div class="search">
    <form id="searchBox" class="searchBox" action="" method="get">
        <label for="song"></label>
        <input type="search" name="song-search" class="searchBar" placeholder="Search song..." id="song-search"
            required>
        <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div id="songcontainer" class="container-form">
</div>