<h1>Editer une playlist</h1>

<form method="post" action="/playlists/edit-playlist/{{playlist._id}}" id="form-playlist">

    <label for="playlist-name" class="">Nom de la playlist</label>
    <input id="playlist-name" name="name" type="playlist-name" class="" value="{{playlist.name}}" required>

    <input type="hidden" id="songs" name="songs" value="{{arrayId}}">

    <div class="songs-list">
        {{#each songs}}
        <div class="song">
            <p>{{this.name}} de {{#each this.artists}}{{name}}, {{/each}}</p>
            <audio controls src="{{this.preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
            <div class="form">
                <form action="///" method="post" class="delete-song">

                    <input id="delete" name="delete" type="submit" value="Delete">
                </form>
            </div>
        </div>
        {{/each}}
    </div>

    <button class="">Save playlist</button>
</form>

<div class="search">
    <form id="searchBox" class="searchBox" action="" method="get">
        <label for="song"></label>
        <input type="search" name="song-search" class="searchBar" placeholder="Search song..." id="song-search"
            required>
        <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div id="search-result"></div>