<h1 class="titlesr">Edit playlist</h1>

<form method="post" action="/playlists/edit-playlist/{{playlist._id}}" id="form-playlist">

    <label for="playlist-name" class="create-form">Playlist's name</label>
    <input id="playlist-name" name="name" type="playlist-name" class="form-cr" value="{{playlist.name}}" required>

    <input type="hidden" id="songs" name="songs" value="{{arrayId}}">

    <div class="songs-list">
        {{#each songs}}
        <div class="song">
            <p>{{this.name}} de {{#each this.artists}}{{name}}, {{/each}}</p>
            <audio controls src="{{this.preview_url}}">
                Your browser does not support the
                <code>audio</code> element.
            </audio>
            <p song-id="{{this.id}}" class="delete-song">Delete</p>
        </div>
        {{/each}}
    </div>

    <button class="save-btn">Save playlist</button>
</form>

<h2 class="add-songs">Add songs to your playlist : </h2>

<div class="search">
    <form id="searchBox" class="searchBox" action="" method="get">
        <label for="song"></label>
        <input type="search" name="song-search" class="searchBar" placeholder="Search song..." id="song-search"
            required>
        <button type="submit" value="Search" class="searchBtn"><i class="fa fa-search"></i></button>
    </form>
</div>

<div id="songcontainer">
</div>