<h1 class="titlesr">Edit your own playlist</h1>

<div class="play-liste">
{{#each relatedPlaylist}}

<div class="playslist-indiv"></div>
{{#isSameId  this.user._id ../userId }}
<div class="playlist">
    <p>{{this.name}}</p>

<ul>
{{#each this.details}}
<li>
<img src="{{#imageDisplay this.album.images}}{{/imageDisplay}}" alt="" class="imgsong">
{{#each this.album.artists}}
{{this.name}}
{{/each}}
{{this.name}}

</li>

{{/each}}
</ul>

    <div class="btns">
    <a class="edit-btn" href="/playlists/edit-playlist/{{this._id}}">Edit</a>
    <a class="delete-btn" href="/playlists/delete-playlist/{{this._id}}">Delete</a>
    </div>
</div>
{{/isSameId}}
{{/each}}
</div>